/* GENERAL STYLES: */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer, header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 16px;
}

/* SPECIFIC STYLES: */
/* Banner: */
header {
    padding: 20px;
    background-color: #2a607c;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

span {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.menu {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Main: */
    /* Set MAIN image in HTML for accessibility? */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main section img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Aside: */
    /* P contrast ratio <4.5 with current format */ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

aside h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer: */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer * {
    color: #000;
}